<h1><%= "#{@application.name}'s Application" %></h1>

<p>Name: <%= @application.name %></p>
<p>Address: <%= "#{@application.street}, " "#{@application.city}, " "#{@application.state} " "#{@application.zip}" %></p>
<p>Why would you make a good home for the pet(s): <%= @application.description %></p>
<p>Pet Names:
  <% @application.pets.each do |pet| %>
    <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
  <% end %>
</p>

<p>Application Status: <%= @application.status %></p>
<p>
  <%= render partial: 'form', locals: {
    path: "/applications/#{@application.id}?search=input",
    method: :get,
    button_text: 'Search for pets to add'
  } %>
</p>
<p>
  <% if @application.status == 'in_progress' %>
    <% @pets.each do |pet| %>
      <section id="pet-<%= pet.id %>">
        <p>
          <%= pet.name %>
          <%= button_to "Adopt this Pet", "/applications/#{@application.id}/pets?pet_id=#{pet.id}", method: :post %>
        </p>
      </section>
    <% end %>
  <% end %>
</p>
<p>
  <% if @application.status == 'pending' && @applications.pets.empty? == false %>
    <p>Enter description for why you would make a good home for the pet(s):</p>
    <p>
      <%= render partial: 'form', locals: {
        path: "/applications/#{@application.id}",
        method: :patch,
        button_text: 'Submit Application'
      } %>
    </p>
  <% end %>
</p>
