<h1>Pets requested for adoption by: <%= @application.name %></h1>

<% @application.application_pets.each do |app_pet| %>
  <section id="pet-<%= app_pet.pet.id %>">
    <p>
      <%= app_pet.pet.name %>
      <% if app_pet.pending? %>
        <%= button_to "Approve #{app_pet.pet.name}", "/admin/applications/#{app_pet.id}/pets?pet_status=approved", method: :patch %>
        <%= button_to "Reject #{app_pet.pet.name}", "/admin/applications/#{app_pet.id}/pets?pet_status=rejected", method: :patch %>
      <% elsif app_pet.approved? %>
        <p><%= "#{app_pet.pet.name} approved for adoption." %></p>
      <% elsif app_pet.rejected? %>
        <p><%= "#{app_pet.pet.name} rejected for adoption." %></p>
      <% end %>
    </p>
  </section>
<% end %>
